@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Roboto:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  margin-top: auto;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacity-transition {
  animation: opacity 800ms;
}

.servicesBanner {
  background-color: rgba(253, 232, 233, 0.3);
}
