@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  margin-top: auto;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacity-transition {
  animation: opacity 800ms;
}

.custom-services-banner {
  background-color: rgba(253, 232, 233, 0.3);
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.press-animation {
  animation: press 200ms ease-in-out;
}
