name: CI - Tests and Code Style

on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [develop, main]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [20.x]

    env:
      API_URL_LOCAL: ${{ secrets.API_URL_LOCAL }}
      API_URL_HEROKU: ${{ secrets.API_URL_HEROKU }}
      GOOGLE_CLIENT_ID: ${{secrets.GOOGLE_CLIENT_ID}}

    steps:
      # 1. Checkout the code
      - uses: actions/checkout@v2

      # 2. Set up Node.js
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      # 3. Install libssl1.1 to fix the MongoDB Memory Server issue
      - name: Install libssl1.1
        run: |
          sudo apt-get update
          sudo apt-get install -y libssl1.1

      # 4. Install dependencies (npm install instead of npm ci)
      - name: Install Dependencies
        run: |
          npm install

      # 5. Build the application (if applicable)
      - name: Build Application
        run: |
          if [ -f "package.json" ] && [ -f "webpack.config.js" ]; then
            npm run build
          else
            echo "No build step required. Skipping..."
          fi

      # 6. Run Jest tests
      - name: Run Tests
        run: npm test

      # 7. Run code style checks
      - name: Run Code Style Checks
        run: npm run code-style-check
